{% if accuracy == "s" %}
	{{ days_left }}
	{{ hrs_left }}
	{{ min_left }}
	{{ secs_left }}
	{{countdown_event_name }}
{% elseif accuracy == "m" %}
	{{ days_left }}
	{{ hrs_left }}
	{{ min_left }}
	{{ countdown_event_name }}
{% elseif accuracy == "h" %}
	{{ days_left }}
	{{ hrs_left }}
	{{ countdown_event_name }}
{% elseif accuracy == "d" %}
	{{ days_left }}
	{{ countdown_event_name }}
{% endif %}
